@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Incompleeta';
    src: url('/Font/IncompleetaRegular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}

nav {
    font-family: 'Incompleeta';
    color: white;
    background-color: black;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.nav-items {
    margin: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-left: 50px;
}

.navbar p {
    margin: 0px 50px;
}

.nav-img1, .nav-img2 {
    margin-left: 50px;
    height: 50px;
    width: auto;
}

h2 {
    font-family: 'Incompleeta';
    color: white;
    margin: 10px 20px;
    font-size: 50px;
}

.game-img {
    height: 350px;
    width: 350px;
    padding: 2px;
}

.parent-container {
    text-align: center;
    background-image: url("Frostbanner.png");
    background-repeat: no-repeat;
    background-size: 75% auto;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    width: 100%;
    height: auto;
}

.featured-card {
    border: 5px solid black;
    background-color: black;
    box-shadow: 10px 10px 0 #000;
    display: inline-block;
    margin: 0 auto;
    max-width: 90%;
    box-sizing: border-box;
    padding: 10px;
}

.game-title {
    font-family: 'Incompleeta';
    color: white;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    padding: 5px 0px;
}

.game-desc {
    font-family: "Montserrat", system-ui;
    color: white;
    text-align: center;
    padding: 5px;
}

.ratings, .dev {
    padding: 5px 0px;
    font-family: 'Incompleeta';
    color: white;
}

.game-price {
    margin: 5px 0px;
    font-family: 'Incompleeta';
    font-weight: 5000;
    color: white;
}

.ubisoft-container {
    text-align: center;
}

.ubisoft {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 75%;
    padding: 15px 20px;
}

#background-video2 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 700px;
    z-index: 551;
    transform: translate(-50%, -50%);
}



@media (max-width: 1200px) {
    .game-img {
        height: 300px;
        width: 300px;
    }
    #background-video2 {
        width: 600px;
        height: 600px;
    }
    .parent-container {
        background-size: 80% auto;
    }
}

@media (max-width: 992px) {
    .game-img {
        height: 250px;
        width: 250px;
    }
    #background-video2 {
        width: 500px;
        height: 500px;
    }
    .parent-container {
        background-size: 95% auto;
    }
    .featured-card {
        width: 30%;
    }
}

@media (max-width: 768px) {
    .game-img {
        height: 200px;
        width: 200px;
    }
    #background-video2 {
        width: 400px;
        height: 400px;
    }
    .parent-container {
        background-size: 95% auto;
        height: 95%;
    }
    .featured-card {
        width: 40%;
        height: auto;
    }
    .ubisoft {
        width: 90%;
    }
}

@media (max-width: 576px) {
    .game-img {
        height: 150px;
        width: 150px;
    }
    #background-video2 {
        width: 300px;
        height: 300px;
    }
    .parent-container {
        background-size: 95% auto;
    }
    .featured-card {
        width: 100%;
    }
    .ubisoft {
        width: 100%;
    }
}

.ubisoft-container2 {
    font-family: "Montserrat", system-ui;
    background-color: #333;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    display: flex;
    gap: 30px;
}

.ubisoft-container2 a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px 24px;
    min-width: 300px;
}

.ubisoft-container2 img {
    height: 350px;
    width: 275px;
    border-radius: 8px;
    box-shadow: 25px 60px 10px rgba(0, 0, 0, 0.3);
}

.ubisoft-container2 a span {
    margin-top: 12px;
    display: block;
}

.fimg-banner {
    width: 100%;
    height: 100%;
    object-fit: fit;
}

#body2 {
    background-image: url("frostpunk-2-wallpaper-01.jpg");
    background-position: center;
    background-size: cover;
}

.frosth1 {
    font-family: "Cinzel", serif;
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-align: center;
    padding: 20px;
}

.iframer {
    position: relative;
    left: 12.5%;
}

.description {
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    padding: 20px;
    font-weight: 500;
}

.left-sider {
    float: left;
    width: 50%;
    padding: 20px;
}

.right-sider {
    float: right;
    width: 50%;
    padding: 20px;
}

.button-text {
    color: #000000;
    width: 80%;
    text-align: center;
    font-family: "Montserrat", system-ui;
    right: 20px;
}

.buttondark2 {
    width: 100%;
    padding: 15px;
    font-size: 1.5rem;
    font-family: "Montserrat", system-ui;
    font-weight: 500;
    color: #f6f6f6;
    background-color: #000000;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.buttondark2:hover {
    background-color: rgb(38, 38, 38);
    color: #ffffff;
}

.price {
    font-family: "Montserrat", sans-serif;
    color: #000000;
    font-size: 50px;
    text-align: center;
    padding: 20px;
    font-weight: 500;
}

.intro, .intro2 {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    padding: 20px;
}

.intro {
    font-size: 30px;
}

.intro2 {
    font-size: 20px;
}
