/* Keyframes for sliding in from the left */
@keyframes slideInLeft {
  0% {
    transform: translateX(-200%); 
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@font-face {
  font-family: 'Incompleeta'; /*a name to be used later*/
  src: url(/IncompleetaRegular.ttf); 
}

#background-video {
  position:fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
}


.logo1{
  display: flex;
  background-color:#27f76d;
 
  
}

.logo1 img{
  height: 50px;
  width: auto;
  padding-left: 10px;
  
}

.logo1 h1{
  color: white;
font-size: 30px;
  margin-top: 10px;
  left: 80px;
  margin-left: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




.wlcmback {
  text-decoration: bold;
  color: white;
  font-size: 70px;
  height: 400px;
  width: 100%;
  margin-top: 100px;
  margin-left: 30px;
font-family:'Incompleeta'
}

.wlcmback h1 {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.word {
  display: inline-block;
  opacity: 0;
  transform: translateX(-100%);
  animation: slideInLeft 1s forwards;
}


/* upr wale welcome back ke liye hei */
/* Applying delays to each word */
.word:nth-child(1) {
  animation-delay: 0.5s; /* "Welcome" appears first */
}

.word:nth-child(2) {
  animation-delay: 2s; /* "Back" appears after a delay */
}


*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}


.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}

.nav {
  margin-top: 10px;
  height: 5px;
  background-color:#27f76d;
  ;
}

.center {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 7px 7px 7px 7px #27f76d;
  ;
  box-shadow: transparent;
  margin-left: 100px;
  margin-right: 0px;
  margin-bottom: 20px;
}

.center h1 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
  font-family:'Incompleeta'
}

.center form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.txt_field span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background:#27f76d;
  ;
  transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color:#27f76d;
  ;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}

.pass {
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}

.pass:hover {
  text-decoration: underline;
}

input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background:#27f76d;
  ;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover {
  border-color: #27f76d;
  ;
  transition: .5s;
}

.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}

.signup_link a {
  color: #27f76d;
  ;
  text-decoration: none;
}

.signup_link a:hover {
  text-decoration: underline;
}

.logo {
  display: flex;
}

.logo h1 {
  margin-left: 130px;
}

footer{
  height: auto;
  background-color:#27f76d;
  ;
  display: flex;
  justify-content: center;
  color: aliceblue;
  flex-direction: column;
  align-items: center;
  
}

footer .socials{
  display: flex;
  gap: 2rem;
}

@media (max-width: 480px) {
  .logo1 h1 {
    font-size: 20px;
  }
  
  .wlcmback {
    font-size: 40px;
    margin-top: 40px;
  }

  .center {
    width: 95%;
    max-width: 250px;
    padding: 10px;
  }

  input[type="submit"] {
    height: 40px;
    font-size: 14px;
  }

  .signup_link {
    font-size: 12px;
  }
}