
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Incompleeta';
    src: url('/Font/IncompleetaRegular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 75%;
    height: 100%;
    background-color: #27f76d;
}

h1 {
    /* padding-right: 10px; */
    font-family: 'Incompleeta';
    color: #27f76d;
    text-align: center;
    margin: 20px;
    font-size: 50px;
    transform: rotate(90deg);
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
}

.right-side-text {
    font-family: "Montserrat", system-ui;
    font-weight: 500;
    position: absolute;
    top: 40%;
    z-index: 1;
    right: 0;
    padding: 20px;
    transform: translateY(-50%);
    color: white;
    font-size: 50px;
    text-align: center;
    width: 75%;
    box-sizing: border-box;
}

.button-box {
    z-index: 1;
    margin: 20px auto;
    position: absolute;
    top: 60%;
    right: 35%;
    transform: translateX(50%) translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button-text {
    margin-top: 10px;
    font-size: 18px;
    color: white;
    text-align: center;
    font-family: "Montserrat", system-ui;
}

.buttondark2 {
    font-family: "Montserrat", system-ui;
    font-weight: 500;
    color: white;
    background-color: #27f76d;
    padding: 10px;
    border: 1px solid;
    cursor: pointer;
    font-size: 50px;
    transition: background-color 0.3s, color 0.3s;
}

.buttondark2:hover {
    background-color: black;
    color: #27f76d;
}

.button {
    font-family: "Montserrat", system-ui;
    font-weight: 500;
    color: white;
    background-color: #27f76d;
    padding: 10px 20px;
    border: 5px dashed white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #27f76d;
    color: white;
}

.topbox {
    z-index: 1;
    width: 15%;
    position: absolute;
    top: 5%;
    transform: translateX(50%);
}

.buttondark {
    font-family: "Montserrat", system-ui;
    font-weight: 500;
    color: #27f76d;
    background-color: black;
    padding: 10px;
    border: 1px solid;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.buttondark:hover {
    background-color: black;
    color: white;
}

@media (max-width: 1200px) {
    .right-side-text {
        margin: 0px auto;
        font-size: 40px;
        top: 35%;
    }

    .button-box {
        margin: 0px auto;
        top: 55%;
    }

    h1 {
        margin: 0px auto;
        font-size: 50px;
    }
}

@media (max-width: 992px) {
    .right-side-text {
        margin: 0px auto;
        font-size: 30px;
        top: 30%;
    }

    .button-box {
        top: 50%;
    }

    h1 {
        margin: 0px auto;
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .right-side-text {
        margin: 0px auto;
        font-size: 25px;
        top: 25%;
    }

    .button-box {
        top: 45%;
    }

    h1 {
        margin: 0px auto;
        font-size: 30px;
    }
}

@media (max-width: 576px) {
    .right-side-text {
        margin: 0px auto;
        font-size: 20px;
        top: 20%;
    }

    .button-box {
        top: 40%;
    }

    h1 {
        margin: 0px auto;
        font-size: 20px;
    }
}

@media (max-width: 300px) {
    .right-side-text {
        font-size: 15px;
    }

    .button-box {
        top: 65%;
    }

    h1 {
        font-size: 15px;
    }
}

@media (max-width: 992px) {
    .buttondark2 {
        font-size: 43px;
        padding: 8px 16px;
    }
}

@media (max-width: 768px) {
    .buttondark2 {
        font-size: 35px;
        padding: 6px 12px;
    }
}

@media (max-width: 576px) {
    .buttondark2 {
        font-size: 30px;
        padding: 4px 8px;
    }
}

@media (max-width: 300px) {
    .buttondark2 {
        font-size: 10px;
        padding: 2px 4px;
    }
}

@media (max-width: 992px) {
    .buttondark {
        font-size: 18px;
        padding: 8px 16px;
    }
}

@media (max-width: 768px) {
    .buttondark {
        font-size: 16px;
        padding: 6px 12px;
    }
}

@media (max-width: 576px) {
    .buttondark {
        font-size: 14px;
        padding: 4px 8px;
    }
}

@media (max-width: 300px) {
    .buttondark {
        font-size: 10px;
        padding: 2px 4px;
    }
}
